section#about.section
  .row
    .xxs-12.sm-4.columns.text-center
      .teaser-icon
        i.icon.icon-car
      h3
        +lipsum(2, 'words')
      p.txt-teaser
        +lipsum(3, 'sentences')
    .xxs-12.sm-4.columns.text-center
      .teaser-icon
        i.icon.icon-check-square-o
      h3
        +lipsum(2, 'words')
      p.txt-teaser
        +lipsum(3, 'sentences')
    .xxs-12.sm-4.columns.text-center
      .teaser-icon
        i.icon.icon-eur
      h3
        +lipsum(2, 'words')
      p.txt-teaser
        +lipsum(3, 'sentences')