mixin hcard()
  .vcard
    .fn.org Company name
    .adr
      .street-address Street 60
      span.postal-code 12345
      span.locality City
    div Tel:
      span.tel +49 (0) 111 / 11122233
    div Email:
      span.email myemail@gmail.com